@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed:wght@400;700&display=swap');


// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/containers";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/navbar";
@import "./node_modules/bootstrap/scss/nav";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/bootstrap-utilities";

// 5. Add additional custom code here

$title-font: 'Roboto Condensed', sans-serif;
$body-font: 'inter', sans-serif;

$kitto-primary-color: #057FD1;
$kitto-secondary-color: #5271FF;
$kitto-accent-color: #053250;

h1,
h2,
h3{
    font-family: $title-font;
    font-weight: 700;
}

.section-content-p{
    color: #717273;
}

body{
    font-family: $body-font;
}

.btn{
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 7px 25px;
    font-family: $body-font;
}

.btn-primary{
    background-color: #057FD1;
}

.navbar-nav {
    .nav-item{
        margin-right: 25px;
        margin-left: 25px;
        .nav-link{
            color: #053250 !important;
            text-transform: uppercase;
        }
    }
}

.cover{
    min-height: 450px;
    background-color: $kitto-primary-color;

    .container{
        height: 100%;

        .subtitle{
            font-family: $body-font;
        }

        h1{
            font-weight: 400 !important;
            text-transform: uppercase;
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;

            span{
                color:#FFE500;
            }
        }

        .btn{
            text-transform: initial;
            color: $kitto-secondary-color !important;
            font-weight: 700;
        }
    }
}

.section-2{
    h2{
        color: $kitto-accent-color;
        font-size: 50px;
    }
    p{
        max-width: 400px;
    }
}

.section-3{
    position: relative;
    &::before{
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        height: 150px;
        width: 100%;
        content: '';
        background: $kitto-secondary-color;
        z-index: -1;
    }
}